<div class="p-lg">
  <h1 class="title m0">
    Reset password
  </h1>
  <h4 class="sub-title pb-sm" style="
    color: #2e2e2e !important;
    font-weight: 300;">
    If the password is invalid, please reset the password
  </h4>
  <div>
    <sf class="mt-lg" [layout]="'vertical'" [schema]="schema" #sf button="none"></sf>

    <div class="mb-lg d-flex justify-content-end">
      <a [routerLink]="['/sign-in']"> <i nz-icon nzType="left" nzTheme="outline"></i> Return to login</a>

    </div>

    <button nz-button nzType="primary" nzBlock nzSize="large" [disabled]="!sf.valid" (click)="onSubmit(sf.value)"
      [nzLoading]="http.loading">
      Submit
    </button>


  </div>
</div>
