

<div class="p-lg">

  <h1 class="title m0">
    {{'app.forget_password.title' | translate}}
  </h1>
  <h4 class="sub-title pb-sm" style="color: #2e2e2e !important; font-weight: 300;">
    {{'app.forget_password.sub_title' | translate}}
  </h4>



  <sf [layout]="'vertical'" [schema]="schema" #sf button="none"></sf>

  <button nz-button nzType="primary" nzBlock nzSize="large" [disabled]="sf.valid" (click)="onSubmit(sf.value)" [nzLoading]="http.loading">
    {{"app.action.submit" | translate}}
  </button>

  <div class="mt-sm">
    <button nz-button nzType="default"  nzBlock nzSize="large" nzType="link">
      <a [routerLink]="['/sign-in']">{{"app.forget_password.go_login" | translate}}</a>
    </button>
  </div>

  
</div>